html,
body,
#app {
  margin: 0;
  padding: 0;
}

iframe {
  border: none !important;
  outline: none !important;
}

#step1-airdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
z-index: 999;
}

#step1-connect-wallet{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
z-index: 9999;
}

input{  	
  background:none;  	
  outline:none;  	

}
input:focus{   
  border:none;
}



.el-popper.is-customized {
  padding: 6px 12px;
  background: #536471;
  color: #fff;
  font-family: Oswald-Heavy, Oswald;

}

.el-popper.is-customized .el-popper__arrow::before {
  background: #536471;
  right: 0;
}